<section class="hero is-illustration is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            PC4G
          </a>

          <!--
            <span class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            </span>
           -->
        </div>

        <!--
          <div class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">Home</a>
              <a class="navbar-item">Participate</a>
              <a class="navbar-item">Host a site</a>
            </div>
          </div>
        -->
      </div>
    </nav>
  </div>

  <div class="hero-body is-aligned-bottom">
    <div class="container">
      <div class="bx">
        <p class="title">PC4G</p>
        <p class="subtitle">Improving equity for young women in computer science</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
<div class="container">
  <nav class="columns">
    <div class="column">
      <div>
        <p class="title">What is PC4G?</p>
        <p>
          It is a Programming  contest intended for  year 10 (and 9) girls.
        </p>
        <br>
        <p>
          The students learn Python before the contest, generally via the
          Introduction to Programming course on Grok, which covers up to
          and including lists.
        </p>
        <br>
        <p>
          The students entered are also given information on installing an IDE
          and some contest-style practice problems, before coming to the contest. 
          They compete in pairs.
        </p>
      </div>
    </div>
    <div class="column">
      <div>
        <p class="title">When, where?</p>
        <p>
          The next competition date is November 13, 2024.
        </p>
        <br>
        <p>
          Sites in 2023 included Auckland University, the Tauranga
          campus of Waikato University, Victoria University, Canterbury
          University, and Otago University. One Auckland school also ran
          a site.
        </p>
        <br>
        <p>
          Each site invites 4 to 6 students (2 or 3 teams) from participating
          schools to the event. They have a practice session, lunch, then
          the contest. 
        </p>
      </div>
    </div>
    <div class="column">
      <div>
        <p class="title">Why do we do this?</p>
        <p>
          The Programming Contest 4 Girls started in 2019. It was developed
          to try and change the gender balance at the Olympiad in Informatics
          summer camps, and hopefully also the team to represent New Zealand
          at the International Olympiad in Informatics.  We want to find
          those amazing problem solvers and get them enthusiastic about programming.
        </p>
        <br>
        <p>
          However, even if the students don't win a place at summer camp, they will
          already have learned lots, had a fantastic day and hopefully consider
          Computer Science as part of their future.
        </p>
      </div>
    </div>
  </nav>
</div>
</section>
