<section class="hero is-illustration is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            PC4G
          </a>

          <!--
            <span class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            </span>
           -->
        </div>

        <!--
          <div class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">Home</a>
              <a class="navbar-item">Participate</a>
              <a class="navbar-item">Host a site</a>
            </div>
          </div>
        -->
      </div>
    </nav>
  </div>

  <div class="hero-body is-aligned-bottom">
    <div class="container">
      <div class="bx">
        <p class="title">PC4G</p>
        <p class="subtitle">Improving equity for young women in computer science</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
<div class="container">
  <nav class="columns">
    <div class="column">
      <div>
        <p class="title">What is PC4G?</p>
        <p>
          A programming contest intended for Year 9 and Year 10 girls in NZ.
        </p>
        <br>
        <p>
          Students prepare by teaching themselves Python,
          typically completing the free Level 1 Python course on <a href="https://groklearning.com/course/nz-ncea-level1-python/">Grok Learning</a>.
          Key concepts include <code>input()</code>, <code>print()</code>, datatypes,
          conditions, <code>for</code> loops, <code>while</code> loops, and lists.
          Students compete in pairs.
        </p>
        <br>
        <p>
          Before the contest, participants receive information on installing an
          Integrated Development Environment (IDE) and are provided with contest-style
          practice problems to help them prepare.
        </p>
      </div>
    </div>
    <div class="column">
      <div>
        <p class="title">When, where?</p>
        <p>
          The competition date for 2025 is yet to be decided. Last year it was held on the 13th of November.
        </p>
        <br>
        <p>
          Previous sites have included Auckland University, the Tauranga
          campus of Waikato University, Victoria University, Canterbury
          University, and Otago University. A school may host a site.
        </p>
        <br>
        <p>
          Each site invites a few teams from each participating
          local school to the event. They have a practice session, lunch, then
          the contest.
        </p>
        <br>
        <p>
          Interested? Have questions? Reach out to <a href="mailto:pc4g@nzoi.org.nz">pc4g@nzoi.org.nz</a>.
        </p>
      </div>
    </div>
    <div class="column">
      <div>
        <p class="title">Why do we do this?</p>
        <p>
          The Programming Contest 4 Girls started in 2019. It was developed
          to try and change the gender balance at the Olympiad in Informatics (NZOI)
          summer camps, and hopefully also the team to represent New Zealand
          at the International Olympiad in Informatics (IOI). We want to find
          those amazing problem solvers and get them enthusiastic about programming!
        </p>
        <br>
        <p>
          However, even if the students don't win a place at summer camp, they will
          already have learned lots, had a fantastic day and hopefully consider
          Computer Science as a part of their future.
        </p>
      </div>
    </div>
  </nav>
</div>
</section>
