<section class="hero is-illustration is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            PC4G
          </a>

          <!--
            <span class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            </span>
           -->
        </div>

        <!--
          <div class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">Home</a>
              <a class="navbar-item">Participate</a>
              <a class="navbar-item">Host a site</a>
            </div>
          </div>
        -->
      </div>
    </nav>
  </div>

  <div class="hero-body is-aligned-bottom">
    <div class="container">
      <div class="bx">
        <p class="title">PC4G</p>
        <p class="subtitle">Improving equity for young women in computer science</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
<div class="container">
  <nav class="columns">
    <div class="column">
      <div>
        <p class="title">What is PC4G?</p>
        <p>
          A programming contest intended for Year 9 and Year 10 girls in NZ.
        </p>
        <br>
        <p>
          Students prepare by teaching themselves Python,
          typically completing the free Level 1 Python course on <a href="https://groklearning.com/course/nz-ncea-level1-python/">Grok Learning</a>.
          Key concepts include <code>input()</code>, <code>print()</code>, datatypes,
          conditions, <code>for</code> loops, <code>while</code> loops, and lists.
          Students compete in pairs.
        </p>
        <br>
        <p>
          Before the contest, participants receive information on <a href="resources/IDE.pdf" target="_blank">installing an
          Integrated Development Environment (IDE)</a> and are provided with contest-style
          <a href="resources/PC4G-Example-Problems.pdf" target="_blank">practice problems</a> with <a href="resources/PC4G-Example-Problems-Answers.pdf" target="_blank">answers</a> to help them prepare.
        </p>
      </div>
    </div>
    <div class="column">
      <div>
        <p class="title">When, where?</p>
        <p>
          PC4G 2025 will be held on <strong>Tuesday the 18th of November</strong>. Each site welcomes local
          schools to send teams to the event. The day usually involves a practice session, lunch, then
          the contest. The following sites are confirmed to host...
        </p>
        <br>
        <p>
          <ul>
            <li>Auckland - University of Auckland</li>
            <li>Christchurch - University of Canterbury</li>
            <li>Dunedin - University of Otago</li>
            <li>Hamilton - University of Waikato</li>
            <li>Tauranga - University of Waikato</li>
            <li>Welington - Victoria University of Wellington</li>
          </ul>
        </p>
        <br>
        <p>
          Want to compete? Willing to host a site? Have questions? Reach out to <a href="mailto:pc4g@nzoi.org.nz">pc4g@nzoi.org.nz</a>.
        </p>
      </div>
    </div>
    <div class="column">
      <div>
        <p class="title">Why do we do this?</p>
        <p>
          The Programming Contest 4 Girls started in 2019. It was developed
          to try and change the gender balance at the Olympiad in Informatics (NZOI)
          summer camps, and hopefully also the team to represent New Zealand
          at the International Olympiad in Informatics (IOI). We want to find
          those amazing problem solvers and get them enthusiastic about programming!
        </p>
        <br>
        <p>
          However, even if the students don't win a place at summer camp, they will
          already have learned lots, had a fantastic day and hopefully consider
          Computer Science as a part of their future.
        </p>
      </div>
    </div>
  </nav>
</div>
</section>
